@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Web app for testing with Playwright</h1>
    <p>Learn about <a href="https://playwright.dev/">Playwright</a>.</p>
</div>

<div class="row">
    <div class="col-4">
        <p></p>
    </div>
    <div class="col-4">
        @Html.ActionLink("Open Contact Form","Form","Home",null,new {@class="btn btn-primary"})
    </div>
    <div class="col-4">
        <p></p>
    </div>
</div>