@{
    ViewData["Title"] = "Thanks for contacting us.";
}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Hi @TempData["FullName"], in a couple of days we are contacting you.</p>
</div>